.leftSide{
    background-image: url("../../shared/assets/Uzor.svg");
    /*background: black;*/
    background-color:#02006B;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120vh;
    height: 100vh;
    position: absolute;
}

.rightSide{
    width: 49vh;
    height: 25vh;
    margin-left: 125vh;
    margin-top: 15vh;
    position: absolute;
}

.title{
    font-size: 14vh;
    font-weight: bolder;
    margin-top: auto;
    text-align: center;
    font-family: 'Inknut', sans-serif;

}

.subTitle{
    font-size: 7vh;
    font-weight: bold;
    text-align: end;
    font-family: 'Jost', sans-serif;
}