.FormWrap {
    width: 430px;
    height: 524px;
    align-items: center;
    border-radius: 26px;
    background-color: white;
    margin-top: 15vh;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-left: 5vh;
}

.InputWrap {
    /*margin-top: 79px;*/
    /*margin-top: 20%;*/
    margin-left: 8vh;
    width: 35vh;
    border: 1px solid gray;
}

.ButtonWrap{
    width: 100%;
    display: flex;
    margin-top: 3vh;
    /*justify-content: space-between;*/
    margin-left: 20vh;
}

.loginHeader{
    display: flex;
    /*justify-content: center;*/
    justify-content: center;
    padding-top: 15%;
}

.LableText{
   display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 1.3%;
    font-size: 22px;
    color: gray;
}