.WrapAdd{
    background-color: #fff;
    width: 280px;
    height: 220px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.AddTitle{
    font-family: 'Inter';
    font-weight: 500;
}