.cardViev{
    width: 13vw;
    height: 21vh;
    background-color: rgba(124,124,124,0.13);
    border-radius: 20px;
    margin: 2vh;
}

.title{
    background-color: #02006B;
    height: 3vh;
    padding-left: 2vw;
    padding-top: 0.5vh;
    font-family: Inter, serif;
    font-size: 19px;
    font-weight: bold;
    color: white;
    border-radius: 20px 20px 0 0;
}

.description{
    display: flex;
    justify-content: end;
    /*width: 5vw;*/
    height: 1vh;
    padding-right: 2vw;
    margin-top: 10vh;
    font-family: Inter, serif;
    font-size: 19px;
    font-weight: normal;
    color: #02006B;
}

.img{
    display: flex;
    justify-content: center;
    height: 7vh;
    padding-top: 3vh;
    padding-left: 2vh;
}

.date{
    margin-top: 3vh;
    padding-left: 1vh;
    font-family: Inter, serif;
    font-size: 17px;
    color: #02006B;
}

.container {
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9vh;
}
.container__image {
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vh;
}

.additions{
    margin-top: 3vh;
    padding: 1vh;
    color: #02006B;
}
